<style>
        .styled-container {
            border: 1px solid black;
            padding: 20px;
            width: 250px;
            border-radius: 5px;
            margin-left: 20px;
            margin-top: 25px;
        }
        .styled-container form {
            display: flex;
            flex-direction: column;
        }
        .styled-container label, 
        .styled-container input {
            margin-bottom: 10px;
        }
        .styled-container button {
            height: 30px;
            width: 100px;
            border-radius: 5px;
            background-color: #ff6600;
            color: white;
            margin-top: 10px;
            cursor: pointer;
        }
        .styled-container a {
            display: inline-block;
            margin-top: 10px;
        }
        .styled-container a button {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <div class="styled-container">
        <h2>Registro de usuario</h2>
        <form action="/api/sessions/register" method="POST">
            <label for="first_name">Nombre:</label>
            <input type="text" name="first_name" required>
            <label for="last_name">Apellido:</label>
            <input type="text" name="last_name" required>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <label for="age">Edad:</label>
            <input type="number" name="age" required>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" required>
            <button type="submit">Registrarse</button>
        </form>
        <a href="/login">
            <button>Iniciar sesión</button>
        </a>
    </div>
</body>
</html>